<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/fa88f739-f8dd-4be5-9f4c-89ceb2229069/resourceGroups/euw-rg-rdfv-pr/providers/Microsoft.Web/sites/euw-app-rdfv-pr</ResourceId>
    <ResourceGroup>euw-rg-rdfv-pr</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://euw-app-rdfv-pr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>04b5a687-35cd-429e-a155-0bb9d7bdba19</ProjectGuid>
    <PublishUrl>https://euw-app-rdfv-pr.scm.azurewebsites.net/</PublishUrl>
    <UserName>$euw-app-rdfv-pr</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>